<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/materia/bootstrap.min.css">

		<title>Bitfish - Exam!</title>
	</head>
	<body>

		<div id="app" class="container">

			<!-- search section -->
			<div class="row mt-5">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<input class="form-control form-control-lg" type="text" id="searchField" placeholder="Type search keywords here..." v-model="keyword" v-on:keyup.enter="search">
								<label>Press 'Enter' Key to search</label>

								<p :class="{ 'text-danger': (message.error == true), 'text-primary': (message.error == false) }" class="text-capitalize mt-3" v-if="message.text !== ''">{{ message.text }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- results section -->
			<div class="row mt-5">
				<div class="col-12">

					<!-- render results with vue traversal mechanism -->
					<div class="media mb-5" v-for="nth in searchResults" v-if="nth.result">
						<img v-if="nth.result.image" :src="nth.result.image.contentUrl" class="mr-3 img-fluid" :alt="nth.result.name" style="max-width: 150px;">
						<img v-else src="https://via.placeholder.com/150?text=No Image Found" class="mr-3" :alt="nth.result.name">
						<div class="media-body">
							<h5 class="mt-0">{{ (nth.result.description + ': ') || '' }} {{ nth.result.name }}</h5>
							<span v-if="nth.result.detailedDescription">
								<span class="text-muted">{{ nth.result.detailedDescription.articleBody }}</span>

								<a class="d-block mt-1" target="_blank" :href="nth.result.detailedDescription.url">{{ nth.result.detailedDescription.url }}</a>
							</span>
							<span v-else class="text-muted">
								No description available...
							</span>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script type="text/javascript" src="./main.js"></script>
	</body>
</html>